.anchor_start {
    -fx-background-image:url('../../../assets/images/background.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: 900px 700px;
}

.vbox_choice {
    -fx-background-color: white;
}

.pane_box {
    -fx-background-color: white;
}

.vbox_list_hero {
    -fx-background-color: #ececec;
}

.background_death {
    -fx-background-image:url('../../../assets/images/background_death.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: 900px 700px;
}